.nav {
    grid-area: n;
    background-color: #f8edcd;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.item a {
    color: #01145d;
    text-decoration: none;
    font-family: sans-serif;
    font-size: large;
}

.item a.activeLink {
    color: #01145d;
    font-weight: bold;
}