.formControl.input {

}

.formControl.error textarea
{
    border: 2px red solid;

}

.formControl.error span {
    color: red;
}

.formSummeryError {
    color: red;
    border: 2px red solid;
}

.login {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    color: #032b72;
}